/* .wallpaper-wrapper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@media screen and (min-width: 320px) {
  .wallpaper-wrapper {
    width: 280px;
    left: 50%;
  }
}

@media screen and (min-width: 768px) {
  .wallpaper-wrapper {
    width: 360px;
    left: 0;
    transform: translate(10%, -50%);
  }
}

@media screen and (min-width: 1024px) {
  .wallpaper-wrapper {
    width: 420px;
  }
} */

#overlay-modal-cart {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

#overlay-modal-dish-card {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}
